.item-list-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
}

.genshin-item {
  width: 22%;
  max-height: 75px;
  max-width: 75px;
  aspect-ratio: 1 / 1;
  margin: 5px;
  border: 2px solid #999 !important;
  background-color: #222 !important;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  transition: border 0.5s ease-in-out;
  position: relative;
}

.genshin-item:hover {
  border: 3px solid rgb(219, 236, 234) !important;
}

.border-selected {
  border: 3px solid rgb(219, 236, 234) !important;
}

.genshin-item-image {
  height: 80%;
  aspect-ratio: 1 / 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.genshin-item-text {
  overflow-wrap: break-word;
  text-align: center;
  width: 100%;
  text-overflow: ellipsis;
  white-space: no-wrap;
  overflow: hidden;
  font-size: 8px;
}

.ingredient_qty_tr {
  position: absolute !important;
  right: 0px;
  top: 0px;
  font-size: 10px !important;
  padding-right: 6px;
  padding-left: 6px;
}

.ingredient_qty_tl {
  position: absolute !important;
  left: 0px;
  top: 0px;
  font-size: 10px !important;
  // padding-right: 3px;
  // padding-left: 3px;
  padding: 2px 3px 2px 3px;
  color: black;
}

ion-badge.ingredient_qty_tr {
  --background: #65adff;
}

ion-badge.ingredient_qty_tl {
  --background: #c2c2c2;
}
