<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="genchef-title">
        <span class="genchef-text">GenChef</span>
        <img width="25" height="25" [src]="'../../assets/images/chef.png'" class="chef-icon">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-item>
    <ion-label position="floating">Find Food</ion-label>
    <ion-input clearInput="true" (ionChange)="searchQueried()" [(ngModel)]="searchQuery" debounce="500"
      placeholder="Enter text"></ion-input>
  </ion-item> -->

  <ion-searchbar animated="true" placeholder="Find your food" (ionChange)="searchQueried($event)"
    [(ngModel)]="searchQuery" [debounce]="500"></ion-searchbar>

  <div class="item-list-container">
    <div class="dish-type-container" *ngFor="let dishType of dishTypes">
      <ion-item lines="none">
        <ion-label>{{ dishType.name }}</ion-label>
      </ion-item>
      <div class="dish-list-container">
        <div class="dish-list-inner-container">
          <div [style.border]="item.quantity ? '3px solid rgb(219, 236, 234)' : ''" button #ref
            (click)="cellClicked($event, item, ref, dishType)" class="genshin-item"
            *ngFor="let item of dishesByTypeCache[dishType.name]">
            <div class="genshin-item-image">
              <img [src]="'../../assets/genshin-food-images/' + item.name + '.png'" />
            </div>
            <div class="genshin-item-text">{{ item.name.split('_').join(' ') }}
            </div>

            <ion-badge *ngIf="!!item.quantity" class="ingredient_qty ingredient_qty_tr">{{ item.quantity }}
            </ion-badge>
            <ion-badge (click)="removeIngredient($event, item, ref, dishType)" *ngIf="!!item.quantity"
              class="ingredient_qty ingredient_qty_tl">
              <ion-icon name="remove-outline"></ion-icon>
            </ion-badge>
          </div>
        </div>

      </div>
      <ion-button (click)="clearAllSelections($event, dishType)" [disabled]="!dishType.qty"
        [style.opacity]="dishType.qty ? 1 : 0" fill="clear" color="danger" class="clear-btn" size="small">Clear
        All</ion-button>

    </div>
  </div>




  <ion-modal #modal [canDismiss]="canModalDismiss.bind(this)" (ionModalWillDismiss)="modalIsDismissing($event, modal)"
    [isOpen]="isRecipeModalOpen" [backdropBreakpoint]="0.25" [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75, 1.0]">
    <ng-template>
      <ion-content class="ion-padding">

        <ion-list id="selection-list">
          <!-- <ion-item *ngFor="let dish of selectedDishes" lines="none">
            <ion-label>
              <h3>{{ dish.name }}</h3>
              <p>Recipe</p>
            </ion-label>
          </ion-item> -->
          <ion-item *ngFor="let dish of selectedDishes" lines="none">
            <ion-avatar slot="start">
              <ion-img [src]="'../../assets/genshin-food-images/' + dish.name + '.png'"></ion-img>
            </ion-avatar>
            <ion-label>
              <h3 class="modal-dish-name-h"><ion-badge class="modal-dish-qty-badge">{{ dish.quantity
                  }}</ion-badge>{{ dish.name }}</h3>
              <p class="modal-recipe-p">
                <span *ngFor="let ingredient of dish.recipe">
                  {{ ingredient.quantity * (dish.quantity || 0 * 1) }}&nbsp;{{ ingredient.ingredient
                  + ',' }}&nbsp;
                </span>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Total Harvest</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list id="harvest-list">

              <ion-item *ngFor="let ingredient of objectKeys(totalHarvest)" lines="none">
                <ion-avatar slot="start">
                  <ion-img
                    [src]="'../../assets/genshin-item-images/' + ingredient.replace(' ', '_') + '.png'"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h3 class="modal-dish-name-h"><ion-badge class="modal-dish-qty-badge">{{ totalHarvest[ingredient]
                      }}</ion-badge>{{ ingredient }}</h3>
                  <p class="modal-recipe-p">
                    <!-- <span *ngFor="let ingredient of dish.recipe">
                      {{ ingredient.quantity * (dish.quantity || 0 * 1) }}&nbsp;{{ ingredient.ingredient
                      + ',' }}&nbsp;
                    </span> -->
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>

          <ion-button id="click-trigger" style="margin-top:10px" expand="block">
            <ion-icon slot="start" name="map-outline"></ion-icon>
            Map Farming Route</ion-button>
          <ion-popover trigger="click-trigger" triggerAction="click">
            <ng-template>
              <ion-content class="ion-padding">Coming Soon</ion-content>
            </ng-template>
          </ion-popover>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>