<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="genchef-title">
        <span class="genchef-text">GenChef</span>
        <img width="25" height="25" [src]="'../../assets/images/chef.png'" class="chef-icon">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Find Food</ion-label>
    <ion-input clearInput="true" (ionChange)="searchQueried()" [(ngModel)]="searchQuery" debounce="500"
      placeholder="Enter text"></ion-input>
  </ion-item>

  <div class="item-list-container">
    <div #ref ngClass="item.selected ? 'border-selected' : ''" (tap)="cellClicked($event, item, ref)"
      class="genshin-item" *ngFor="let item of genshinDishes">
      <div class="genshin-item-image">
        <img [src]="'../../assets/genshin-food-images/' + item.name + '.png'" />
      </div>
      <div class="genshin-item-text">{{ item.name.split('_').join(' ') }}</div>
    </div>
  </div>
</ion-content>