<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="genchef-title">
        <span class="genchef-text">GenChef</span>
        <img width="25" height="25" [src]="'../../assets/images/chef.png'" class="chef-icon">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Search ingredients</ion-label>
    <ion-input (ionChange)="searchQueried()" [(ngModel)]="searchQuery" debounce="500"
      placeholder="Enter text"></ion-input>
  </ion-item>

  <div class="item-list-container">
    <div class="genshin-item" *ngFor="let item of genshinItems">
      <div class="genshin-item-image"
        [style.backgroundImage]="'url(../../assets/genshin-item-images/' + item.item + '.png)'"></div>
      <div class="genshin-item-text">{{ item.item.split('_').join(' ') }}</div>
    </div>
  </div>
</ion-content>